* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #eeecec;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    text-align: center;
    background-color: #b33b3b;
    color: white;
}

#header h1 {
    margin: 0;
    font-weight: bold;
}

#option {
    text-align: center;
    margin-top : 24px;
}

#board {
    margin-top: 16px;
    margin-bottom: 16px;
}

.board {
    text-align: center;
    background-color: #2a95b3;
    width: 438px;
    height: 20px;
    margin: auto;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
}

.board-game {
    width: 240px;
    height: 240px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr); 
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 16px;
}

.cell-board {
    border: 2px solid #202020;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}

.cell-board:hover {
    background-color: rgba(86, 137, 198, 0.69);
}

.cell-board:active {
    background-color: rgba(35, 76, 211, 0.69);
}

.winning-line {
    color:white;
    background-color: #b33b3b;
}

.hidden {
    display: none;
}