* {
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #277ea6;
}

form {
    margin-top: 16px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

label {
    margin-left: 8px;
    margin-right: 4px;
    font-weight: bold;
}

#halaman {
    width: 4em;
}

#simpan, #reset {
    margin-left: 24px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 4px 4px 0px black;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    text-align: center;
    background-color: #a3eef0;
}

thead td {
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid black;
}

tbody td {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    border-right: 1px solid black;
}

tbody tr:nth-child(even){
    background-color: #dbdbdb;
}